---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Albums';
const description = 'Pictures from my adventures and projects.';
const permalink = `${Astro.site.href}albums`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="albums">
  <div class="container">
    <h1>Albums</h1>
  </div>
</BaseLayout>
